.container
   background-color: $yellow
   color: $white

.row
   background-color: $blue

.col 
   background-color: $orange
   display: flex
   align-items: stretch
   div
      flex-grow: 1
      background-color: $gray-1000
      overflow: hidden