//Black & White
$white: #fcfcfc !default
$black: #151515 !default

//Spacing unit
$spacer: 1rem !default

//Font
$font-family: "Roboto"

//Body variables
$body-bg: $white
$body-color: $black