//Grays
$white: #fcfcfc !default
$gray-50: #ededed !default
$gray-100: #ebebeb !default
$gray-200: #d6d6d6 !default
$gray-300: #c2c2c2 !default
$gray-400: #adadad !default
$gray-500: #999 !default
$gray-600: #858585 !default
$gray-700: #707070 !default
$gray-800: #5c5c5c !default
$gray-900: #474747 !default
$gray-1000: #333 !default
$gray-1100: #1f1f1f !default
$black: #151515 !default

$grays: () !default
$grays: map-merge(("50": $gray-50,
"100": $gray-100,
"200": $gray-200,
"300": $gray-300,
"400": $gray-400,
"500": $gray-500,
"600": $gray-600,
"700": $gray-700,
"800": $gray-800,
"900": $gray-900,
"1000": $gray-1000,
"1100": $gray-1100),$grays)


//Colors
$green: #00cc8b !default
$blue: #1c7eff !default
$purple: #b43bff !default
$red: #FF0033 !default
$orange: #ff7e33 !default
$yellow: #ffeb3b !default


//Font
$font-family: "Roboto", sans-serif !default


//Body Variables
$body-bg: $white
$body-color: $black


//Spacing Unit
$spacer: 1rem !default
$spacers: () !default
$spacers: map-merge(( 0: 0, 
1: ($spacer * .25),
2: ($spacer * .5),
3: $spacer,
4: ($spacer * 2),
5: ($spacer * 4)),$spacers)